<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./favicon.ico">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <meta name="Software Quality Ashurance Interview Questions" content="Software Quality Ashurance Interview Questions">
    <meta name="Atanas Dachenski" content="Software Quality Ashurance Interview Questions">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link rel="stylesheet" href="/css/sqa.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/css/pushy.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />-->
    <link rel="stylesheet" href="/css/modern-business.css">

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>
        <%=title%>
    </title>
    <style>
        /*.col-xs-6 {*/
            /*width: 48vw;*/
        /*}*/
    </style>
</head>

<body>
    <% include ./navigation.ejs %>
        <!--<div class="top-gap"></div>-->
        <div class="d-block d-sm-none" style="background-color:#464646;">
            <div class="container">
                <div class="row first-row">
                    <div class="col-9 playfair">
                        <h4>SQA</h4>
                        <h3 style="font-size:1.5em"> Interview Questions</h3>
                        <h4>& Tests</h4>
                    </div>
                    <div class="col-3">
                        <img src="../img/Logo2.png" class="main-logo" alt="QA Logo">
                    </div>
                </div>
                <div class="row">
                    <a class="col-6" href="/sqa-test">
                        <div class="cell-container cell-dementions main-background">
                            <div>New</div>
                            <img class="shake" src="../img/test.png"  alt="Test">
                            <div class="mobile-text">SQA Test</div>
                        </div>
                    </a>
                    <a class="col-6" href="bash-test">
                        <div class="cell-container cell-dementions main-background">
                            <img src="../img/terminal.png"  alt="Technical Test">
                            <div class="mobile-text">Linux/Unix Test</div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <a class="col-6" href="/questions">
                        <div class="cell-container cell-dementions main-background">
                            <img src="../img/technical.png" alt="Questions">
                            <div class="mobile-text">Questions</div>
                        </div>
                    </a>
                    <a class="col-6" id="add-question" href="/sql-test">
                        <div class="cell-container main-background">

                            <img src="../img/sql1.png" style="width:65%" alt="Question">
                            <div class="mobile-text">SQL Test</div>
                        </div>
                    </a>
                    </div>


                    <div class="row main-headers">
                        <h3 class="col-12  center playfair ">Types of Testing</h3>
                    </div>
                <div class="row">
                    <% for(var i = 0; i < documentation.length; i+=1){%>
                        <a class="col-6" id="test-types-<%=i%>" href="questions/<%=testingTypes[i].referToId%>">
                            <div class="cell-container main-background">
                                <img src="../img/Functional-Testing.png" style="width:65%" alt="Functional_testing">
                                <div class="animated mobile-text">
                                    <%=testingTypes[i].title%>

                                        <div>
                                            <img src="../img/tTypes.png" alt="testing types">
                                        </div>

                                </div>
                                <div class="tTypes-text animated2">
                                        <%=testingTypes[i].title%>
                                    </div>

                            </div>
                        </a>
                        <%}%>
                </div>
                <div class="col-12 main-headers">
                    <h3 class="center playfair">Documentation</h3>
                </div>
                 <div class="row">
                    <% for(var i = 0; i < documentation.length; i+=1){%>
                        <a class="col-6" id="documentation-<%=i%>" href="questions/<%=documentation[i].referToId%>">
                            <div class="cell-container main-background">

                                <img src="../img/document.png" alt="Functional_testing">
                                <div class="mobile-text">
                                    <%=documentation[i].title%>
                                </div>
                            </div>
                        </a>
                    <%}%>
                </div>
                </div>
            </div>
        </div>

        <!-- second view -->
        <div class="container d-none d-sm-block">

            <h1 class="my-4">SQA Interview Questions and Test</h1>

            <!-- Marketing Icons Section -->
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Questions</h4>
                        <div class="card-body">
                            <p class="card-text">Here you can play with all the questions fast and reliable without to have reloading the page
                                every time.</p>
                        </div>
                        <div class="card-footer">
                            <a href="/questions" class="btn btn-primary">Start</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Test</h4>
                        <div class="card-body">
                            <p class="card-text">
                                You can take a Software Quality Assurance test to check if you are ready for the real interview. So far we have over 100
                                test question from which you will randomly pick-up 10 every time you take the test.</p>
                        </div>
                        <div class="card-footer">
                            <a href="sqa-test" class="btn btn-primary">Start</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card h-100">
                        <h4 class="card-header">Submit Question</h4>
                        <div class="card-body">
                            <p class="card-text">You can help us make the site better like you submit you real interview question.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Start</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <style>
                .card-body {
                    height: 100px;
                    word-break: keep-all;
                    overflow: hidden;
                }
            </style>
            <!-- Portfolio Section -->
            <div class="row">
                <div class="col-12">
                    <h2>Today's learning (Types of testing)</h2>
                </div>
            </div>
            <div class="row">
                <% for(var i = 0; i < testingTypes.length; i+=1){%>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card">
                            <a href="/questions/<%=testingTypes[i].referToId%>">
                                <img class="card-img-top" src="../img/software-testing2.png" alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="/questions/<%=testingTypes[i].referToId%>">
                                        <%= testingTypes[i].title%>
                                    </a>
                                </h4>
                                <p class="card-text">
                                    <%-testingTypes[i].content%>
                                </p>
                            </div>
                        </div>
                    </div>
                    <%}%>
                    </div>
            <div class="row">
                <div class="col-12">
                    <h2>Documentation</h2>
                </div>
            </div>
                <div class="row">
                        <% for(var i = 0; i < documentation.length; i+=1){%>
                            <div class="col-lg-4 col-sm-6">
                                <div class="card">
                                    <a href="/questions/<%=documentation[i].referToId%>" "><img class="card-img-top " src="../img/documents.jpg " alt=" "></a>
                                        <div class="card-body ">
                                            <h4 class="card-title ">
                                                <a href="/questions/<%=documentation[i].referToId%>">
                                    <%= documentation[i].title%>
                                        </a>
                                        </h4>
                                        <p class="card-text">
                                            <%-documentation[i].content%>
                                        </p>
                                </div>
                            </div>
            </div>
            <%}%>

        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <h2>Modern Business Features</h2>
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li><strong>Bootstrap v4</strong>
                    </li>
                    <li>jQuery</li>
                    <li>Font Awesome</li>
                    <li>Working contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit,
                    quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus
                    unde.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="../img/testing-mobile-app.png" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti
                    beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="#">Back to Top</a>
            </div>
        </div>

        </div>
        <script src="../js/pushy.min.js"></script>
</body>

</html>