<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/sqa.css">
    <link rel="stylesheet" href="../css/normalize.css">

    <link rel="stylesheet" href="../css/demo.css">

    <link rel="stylesheet" href="../css/pushy.css">

    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css" />-->
    <link rel="stylesheet" href="../css/modern-business.css">
    <script src="../lib/jquery/dist/jquery.js"></script>
    <!--<script src="js/popper.min.js"></script>-->
    <script src="../lib/bootstrap/dist/js/bootstrap.js"></script>

    <title>
        <%=questions.title%>
    </title>
</head>

<body style="background-color:#F8F8F8">
    <% include ./navigation.ejs %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 playfair">
                    <h2 style="padding-top:15px;text-align:center">
                        <%=questions.title%>
                    </h2>
                </div>
                <div class="col-12 col-sm-3 col-lg-2">
                    <h4 class="playfair"><b>Short Definition</b></h4>
                    <div>
                        <%-questions.content%>
                    </div>
                </div>
                <div class="col-12 col-sm-9 col-lg-8">
                    <h4 class="playfair"><b>Extra Information</b></h4>
                    <!--<h3>-->
                        <!--<%-details.title%>-->
                    <!--</h3>-->

                    <div>
                        <%-details.content%>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <script src="../js/pushy.min.js"></script>
</body>

</html>