<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/sqa.css">

    <link rel="stylesheet" href="../../css/pushy.css">
    <link rel="stylesheet" href="../../lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../css/demo.css">

    <script src="../../lib/jquery/dist/jquery.js"></script>
    <script src="../../lib/bootstrap/dist/js/bootstrap.js"></script>
    <title> <%=title%></title>
</head>
<body>
       <% include ./navigation.ejs %>
        <div class="top-gap"></div>
        <div style="background-color:#5BBC93; height:91%">


            <div class="container">
               
                <div class="row">
                     <div class="col-sm-3 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <h2 style="color:#464646">
                            <%=title%>
                        </h2>
                        <h4>Random Questions</h4>
                    </div>
                     <div class="col-sm-3 col-lg-4"></div>
                </div>
               
                <div class="row">
                    <div class="col-sm-3 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="panel-group" id="accordion">

                            <% for(var i = 0; i < randQuestions.length; i+=1){%>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#nas<%=i%>">
                                                <div style="color:darkred">
                                                    <%=randQuestions[i].title%>
                                                </div>

                                            </a>
                                        </h4>
                                    </div>
                                    <div id="nas<%=i%>" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <%=randQuestions[i].content%>
                                                <div style="color:darkred">More info <a href="/questions/<%=testType%>/random/<%=i%>">here</a>.</div>
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                        </div>
                    </div>
                    <div class="col-sm-3 col-lg-4"></div>
                </div>
            </div>
        </div>
        <script src="../../js/pushy.min.js"></script>
</body>

</html>